sonarqube:
  replicaCount: 1
  image:
    pullPolicy: IfNotPresent
  ingress:
    enabled: true
    hosts:
    - name: sonar.k8s-workshops.com
    tls:
    - hosts:
        - sonar.k8s-workshops.com
      secretName: sonar-cert
    annotations: {
      external-dns.alpha.kubernetes.io/hostname: sonar.k8s-workshops.com
    }
  persistence:
    enabled: true
